################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.opendb
/.vs
/1sem/out/build/x64-Debug
/2sem/out/build/x64-Debug
/3sem/out/build/x64-Debug
/4sem/fundal/1/.vs/1/v16/ipch/AutoPCH/dfeec56018326b90
/4sem/fundal/1/1/.vs/1/v16
/4sem/fundal/1/.vs/1/v16
/4sem/out/build/x64-Debug
/4sem/fundal/1/1/Debug
/4sem/fundal/1/2/.vs/2/v16
/4sem/OS/LEC_ASS/.vs/LEC_ASS/v16
*.db
*.db-shm
*.db-wal
*.ipch
/4sem/OS/LEC_ASS/Debug/LEC_ASS.tlog
*.pdb
*.idb
/4sem/fundal/1/3/.vs/3/v16
*.exe
*.obj
*.log
*.ilk
*.res
*.tlog
/4sem/fundal/1/3/Debug
